input{
	margin-bottom: 20px;
	margin-top:30px;
}
.controls button{
	margin-top: 30px;
}
textarea{
	height:230px;
}
.row button{
	background-color: #fafafa;
	color: #000000;
	border: 1px solid #d4d4d4;
}
body#contact h2, body#contact p{
	text-align: center;
}