div #home-buttons{ 
	margin: 225px auto;
	width:255px;}
	
div #home-zip { 
	margin: 225px auto;
	width:300px;}

#logo {
	width:150px;
}	
	
.noDisplay {
	display:none;
}
#home-container {
	height:550px;
	background-image: url('../img/vtNight.jpg');
	background-size: 100% auto;
	background-position:center bottom; }
	
.bs-docs-sidenav.affix {
  	top: 10px;
}
@media (min-width: 1200px) {
  .bs-docs-sidenav {
      width: 258px;
  }
  .bs-docs-sidenav {
      width: 228px;
      margin: 10px 0 0;
      padding: 0;
      background-color: rgb(250,250,250);
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.35);
      -moz-box-shadow: 0 1px 4px rgba(0,0,0,.35);
      box-shadow: 0 1px 4px rgba(0,0,0,.35);
  }
  .affix {
    position: fixed;
  }

.cat {
	text-indent: 30px;
	cursor:pointer;
	color: #777;
}

.cat:hover{
	color: #444;
}
}

li.list-type > a {
color: #000;
}

ul.nav-list > li.header,
ul.nav-list > li.list-type{
	text-indent:10px;
	}
	
div.browse-content{
	height:500px;
	overflow:visible;
}

div.content-holder{
	width:850px;
}

div.tile {
	height:175px;
	background-color: rgb(250,250,250);
	margin:15px 25px;
	cursor:pointer;
}






/* My (Chris) Stuff don't touch*/
/*Apply this class to parent div to center most text */
.center h1, .center h2, .center h3{
	text-align: center;
}
.pCenter p{
	text-align: center;
}
/*Apply this class to parent div to right align most text */
.right h1, .right h2, .right h3{
	text-align: right;
}
.pRight p{
	text-align: right;
}

/* -----------------------Nav--------------------- */
.head button{
	background-color:#fafafa;
	color:#000000;
	border:1px solid #d4d4d4;

}
.head button:hover{
	background-color:rgb(143, 16, 25);

	color:white;
}
/* -----------------------Explore--------------------- */
.card{
	background-color:#1abc9c;
	color:white;
}
.featurette-divider{
	margin:80px 0;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
}

.featurette-image.pull-right{
	margin-left:40px;
}
.featurette-image.pull-left{
	margin-right:40px;
}
/* ------------------- Home -------------------------- */
.panel div.span4 {
	background-color: rgb(143, 16, 25);
	color:white;
	height:175px;
	margin-bottom: 40px;

}

/* Mosaic */
.boxgrid{
    width: 100%;
    height: 175px;
    float:left;
    background:#161613;
    border: solid 2px #8399AF;
    overflow: hidden;
    position: relative;
}

.boxgrid img{
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}
.boxcaption{
    float: left;
    position: absolute;
    background: #000;
    height: 175px;
    width: 100%;
    opacity: .8;
	padding:0 10px;
    top:125px;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
     }
div.price {
	float:right;
	width:20%;
	text-align:right;
}

div.tile-title{
	float:left;
	width:70%;
}
.boxcaption h3,
.boxcaption p{
	color:white;
}

.pagination a{
	color: #8F1019;
}

div.listing-title{
	float:left;
}

div.listing-price{
	float:right;
	text-align:right;
}

/*seller card*/
  .seller-card {
      width: 300px;
  }
  .seller-card {
      width: 300px;
      margin: 10px 0 0;
      padding: 0;
      background-color: rgb(250,250,250);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
      -moz-box-shadow: 0 1px 4px rgba(0,0,0,.1);
      box-shadow: 0 1px 4px rgba(0,0,0,.1);
  }
  .affix {
    position: fixed;
  }
  
  .listing-content{
	margin-right:35px;
	margin-bottom:40px;
  }
  
  .listing-description {
	width:100%;
  }
  
  .listing-small {
	width:48%;
	display:inline-block;
  }
  
  .discription {
	margin:10px 0 25px 10px;

  }
  
  .inline {
  display:inline;
  line-height:20px;
  }
  
  .listing-buttons button{
	width:100%;
	      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
	 	margin: 40px 0 0 0;
	height:40px;
	font-size:16px;
  }
  
  .listing-buttons{

  }
  
  .create-label{
	font-size:20px;
	margin-top:20px;
  }
  
  .create-label p {
	width:100px;
	display:inline-block;
	text-align:right;
	margin-right:30px;
  }
  
  .modal-body {
	max-height:460px;
	min-height:400px;
  }
  
  #create-listing{
	padding: 20px 0;
  }
  
  .select-input {
	margin-left: -5px;
  }
  
  span.added-input {
	margin-left: -5px;
  }
  input.added-input {
		width:180px;
	}
  
  #upload-span {
  margin-left:-6px;
  width:195px;
  }
  
  .create-button {
	  background-color: rgb(250,250,250);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.35);
      -moz-box-shadow: 0 1px 4px rgba(0,0,0,.35);
      box-shadow: 0 1px 4px rgba(0,0,0,.35);
  }
  
 .span3 > h4 {
	margin-bottom:0;
 }
 
 .green {
 color: green;}
 
 .red {
 color: red;}
 
 .seller-info {
	text-indent: 15px;
 }
 
 .seller-trans {
 margin: -5px 0 10px 0px;
 float:left;
 display:inline-block;
 width:30%;
 }
 
 .seller-ver {
 display:inline-block;
 float:right;
 width:50%;
 line-height:10px;
 }
 
 .seller-card h3 {
 margin-bottom:5px;
 }