.recent-history ul{
	list-style-type: none;
}
.recent-history ul li{
	height:40px;
	margin:10px 0;
	font-size:22px;
	padding-top: 10px;
}
.recent-history span{
	width:20%;
	display:inline-block;
	white-space: nowrap;
}
.recent-history .item-name{
	width:25%;
}
.recent-history .price{
	width:15%;
}
.recent-history .location{
	width:25%;
}
.recent-history .date{
	width:10%;
}
.recent-history h2{
	margin-top:10px;
	margin-bottom:30px;
}
.row{
	margin-top:30px;
}
li.success{
	border:1px solid #2ecc71;
	color: #2ecc71;

}
li.fail{
	color:#e74c3c;;
	border:1px solid #e74c3c;;
}
.recent-history i{
	margin:0 20px;
}

span.success{
	color:#2ecc71;
	font-size:30px;

}
span.fail{
	color:#e74c3c;
	font-size:30px;
}
.transaction .icon-ok{
	color:#2ecc71;
}
.transaction .icon-ban-circle{
	color:#e74c3c;
}
.half{
	width:49%;
	display:inline-block;
	text-align: center;
}
.half i{
	display: block;
	margin-bottom: 20px;
}